* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: aqua;
  background-image: url(./images/b2.jpg);
  padding-bottom: 25%;
}
/* body {
    background-image: url(./images/baff.jpg);
    
   } */
nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  justify-content: space-between;
}
ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li {
  list-style: none;
  position: relative;
}
ul li a {
  color: #ffff;
  padding: 20px;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
}
.man {
  color: whitesmoke;
  font-style: oblique;
  font-family: serif;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}
.para {
  color: whitesmoke;
  text-align: center;
  margin-top: 100px;
}
.about-us {
  border: none;
  background-color: #ffffff;
  color: #acc994;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 70px;
  margin-right: 10px;
}
.join-us {
  border: none;
  background-color: #a3c962;
  color: #e7fcff;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
}
.about-us:hover,
.join-us:hover {
  background-color: black;
}
.para h1,
h3,
p {
  margin-top: 22px;
  color:#ffffff;
}
.para p {
  font-style: italic;
  font-family: serif;
  font-size: 20px;
}
.new h3,
h2,
p {
  text-align: center;
}
.tex {
  text-align: center;
  font-style: initial;
}
.tex p {
  font-style: italic;
  color: #677290;
}
.leaf {
  width: 30%;
}
.imgLeaf {
}
.text h2 {
  color: #a3c962;
}
.layout {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 60px;
}
.left {
  height: fit-content;
  width: fit-content;
  padding-left: 150px;

}
.right {
  height: fit-content;
  width: fit-content;
  padding-left: 130px;
  margin-right: 15%;
} 
.tasbir{
    margin-top: 30px;
}
.right h2{
    color: #a3c962;
}
.right h3{
    color:#000000;
}
.right h4 p{
    color:#4c4c4c ;
}
.third{
    height:  800px;
    width: 100%;
    background-image: url(./images/s1.jpg);
}
